macros/trplots/trash/
macros/trplots/makedisplayplots/downloads/
macros/trplots/downloaded/
test/myworkingArea/
test/oldWorkingFiles
test/oldWorkingArea/
test/GJetWorkSpace/
test/GMSBWorkSpace/
test/oldworkingArea/
/test/myWorkSpace/
*.root
*.pyc
*.log
*.png
*.pdf
__*
